%li
  %div
    =  if p != nil
      = p.input :parents, as: :select, collection: Item.pluck(:label, :id), input_html: { class: 'select2' }
      -#= p.fields_for :parent, new_record: false do |pp|
      -#  = pp.input :label
        -#= link_to_remove_association(I18n.t('remove'), pp) if pp != nil
